---
swagger: "2.0"
info:
  description: "A Microsoft WebApi2 application. For use by Jeunesse and its Partners,\
    \ this api has a focus on product and order creation"
  version: "v1"
  title: "Cart-Api v1"
host: "cart-api.riman.com"
schemes:
- "https"
paths:
  /api/v1/bags/{bagId}:
    get:
      tags:
      - "Bag"
      summary: "Get a bag by its id"
      operationId: "Bag_GetById"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "bagId"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "BagId"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
    delete:
      tags:
      - "Bag"
      summary: "Delete a bag by its id"
      operationId: "Bag_Delete"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "bagId"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "BagId"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/bags:
    get:
      tags:
      - "Bag"
      summary: "Get all bags based on the query model"
      operationId: "Bag_GetAll"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "bagQueryModel.bagPK"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "BagQueryModelBagPK"
        x-optionalDataType: "Int32"
      - name: "bagQueryModel.customerPK"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "BagQueryModelCustomerPK"
        x-optionalDataType: "Int32"
      - name: "bagQueryModel.cartType"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "BagQueryModelCartType"
        x-optionalDataType: "String"
      - name: "bagQueryModel.countryCode"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "BagQueryModelCountryCode"
        x-optionalDataType: "String"
      - name: "bagQueryModel.culture"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "BagQueryModelCulture"
        x-optionalDataType: "String"
      - name: "bagQueryModel.siteUrl"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "BagQueryModelSiteUrl"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
    post:
      tags:
      - "Bag"
      summary: "Create a new bag"
      operationId: "Bag_Create"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "bagFormModel"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/BagFormModel"
        x-exportParamName: "BagFormModel"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/loyalty-points/ranks:
    get:
      tags:
      - "LoyaltyPoints"
      summary: "Gets the list of ranks for the loyalty points preferred customers."
      operationId: "LoyaltyPoints_GetRanks"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/RewardPointsCustomerRankViewModel"
  /api/v1/loyalty-points/{mainPk}:
    get:
      tags:
      - "LoyaltyPoints"
      summary: "Gets the status of Loyalty Points for a preferred customer."
      operationId: "LoyaltyPoints_GetStatus"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainPk"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPk"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/RewardPointsCustomerStatusViewModel"
  /api/v1/loyalty-points/{mainPk}/transactions:
    get:
      tags:
      - "LoyaltyPoints"
      summary: "Gets the transactions of Loyalty Points for a preferred customer ordered\
        \ by effective date."
      operationId: "LoyaltyPoints_GetTransactions"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainPk"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPk"
      - name: "pageNumber"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "pageSize"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/RewardPointsCustomerTransactionsViewModel"
  /api/v1/RMA/status:
    get:
      tags:
      - "Order"
      summary: "Get RMAs_Status"
      operationId: "Order_GetRMAsStatus"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/RMA/reasons:
    get:
      tags:
      - "Order"
      summary: "Get GetRMA_Reasons"
      operationId: "Order_GetRMAReasons"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/orders/types:
    get:
      tags:
      - "Order"
      summary: "To get order types"
      operationId: "Order_GetOrderTypes"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/MainOrderTypeModel"
  /api/v1/order/{orderId}/paid:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_CheckOrderPaidStatus"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "orderId"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "OrderId"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/get-sift-config:
    get:
      tags:
      - "Order"
      summary: "Used to get Sift configuration."
      operationId: "Order_GetSiftConfig"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/SiftConfigModel"
  /api/v1/orders/{mainOrdersPK}:
    get:
      tags:
      - "Order"
      summary: "To get single order"
      operationId: "Order_GetOrderId"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/MainOrderModel"
  /api/v1/order/delete/{orderId}:
    get:
      tags:
      - "Order"
      summary: "This method is no longer allowed please do not use"
      operationId: "Order_DeleteOrder"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "orderId"
        in: "path"
        description: "Unique identifier of the order"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "OrderId"
      deprecated: true
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/process-response:
    get:
      tags:
      - "Order"
      summary: "Used to process response from 3rd party redirects"
      operationId: "Order_ProcessOrderResponse"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
    post:
      tags:
      - "Order"
      operationId: "Order_ProcessOrderResponsePost"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/orders/payments/manual:
    get:
      tags:
      - "Order"
      summary: "Retrieves available manual paytypes"
      operationId: "Order_getManualPayTypes"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ManualPaymentTypeModel"
  /api/v1/order/get-inauth-config:
    get:
      tags:
      - "Order"
      summary: "Used to get InAuth configuration."
      operationId: "Order_GetInAuthConfig"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/InAuthConfigModel"
  /api/v1/order/get-TapPay-config:
    get:
      tags:
      - "Order"
      summary: "Used to get InAuth configuration."
      operationId: "Order_GetTapPayConfig"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/InAuthConfigModel"
  /api/v1/order/payment/{orderId}:
    get:
      tags:
      - "Order"
      summary: "Returns a list of payment methods for an order."
      operationId: "Order_GetPaymentMethods"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "orderId"
        in: "path"
        description: "Order Number"
        required: true
        type: "string"
        x-exportParamName: "OrderId"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentMethodsViewModel"
  /api/v1/RMA/{RMANumber}/products:
    get:
      tags:
      - "Order"
      summary: "Get RMA Detail"
      operationId: "Order_GetRMADetail"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "RMANumber"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "RMANumber"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/disclosure/{orderId}:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_GetOrderDisclosure"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "orderId"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "OrderId"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/taxes/{mainOrdersFK}:
    get:
      tags:
      - "Order"
      summary: "Gets the tax information for an order."
      operationId: "Order_GetOrderTaxAmount"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersFK"
        in: "path"
        description: "OrderNumber"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersFK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
    put:
      tags:
      - "Order"
      summary: "Gets and sets the tax information for an order."
      operationId: "Order_SetOrderTax"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersFK"
        in: "path"
        description: "OrderNumber"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersFK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/orders/{mainOrdersPK}/items:
    get:
      tags:
      - "Order"
      summary: "To get main order items"
      operationId: "Order_GetOrderItems"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/MainOrderItemModel"
  /api/v1/order/details/{mainOrdersFK}:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_GetOrderInfo"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersFK"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersFK"
      deprecated: true
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/{mainpk}/has-completed:
    get:
      tags:
      - "Order"
      operationId: "Order_VerifyUserOrders"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainpk"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Mainpk"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/{orderIdStr}/has-package:
    get:
      tags:
      - "Order"
      summary: "Checks to see if an order contains a package product"
      operationId: "Order_OrderHasPackage"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "orderIdStr"
        in: "path"
        description: "Order Number"
        required: true
        type: "string"
        x-exportParamName: "OrderIdStr"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "boolean"
  /api/v1/orders/{mainOrdersPK}/payments:
    get:
      tags:
      - "Order"
      summary: "Get payments on order"
      operationId: "Order_GetPayments"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/OrderPayments"
    post:
      tags:
      - "Order"
      summary: "Adds and processes payments to order"
      operationId: "Order_NewPayment"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      - in: "body"
        name: "payment"
        required: true
        schema:
          $ref: "#/definitions/PaymentFormModel"
        x-exportParamName: "Payment"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentProcessingResponse"
  /api/v1/orders/{mainOrdersPK}/products:
    get:
      tags:
      - "Order"
      summary: "To get all subitems from main order by id for RMA"
      operationId: "Order_GetOrderProducts"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/orders/{mainOrdersPK}/tracking:
    get:
      tags:
      - "Order"
      summary: "To get shipping Tracking information of an order"
      operationId: "Order_GetOrderShippingDetails"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/MainOrderTrackingModel"
  /api/v1/order/{orderId}/payment-started:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_CheckOrderPaymentStarted"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "orderId"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "OrderId"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/campaigns/info/{campaignCode}:
    get:
      tags:
      - "Order"
      summary: "Gets the sales campaign information for a particular campaign."
      operationId: "Order_GetSalesCampaignByCampaignCode"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "campaignCode"
        in: "path"
        description: "Campaign Code to Lookup"
        required: true
        type: "string"
        x-exportParamName: "CampaignCode"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/SalesCampaignModel"
  /api/v1/order/payment/get-card/{sequencePK}:
    get:
      tags:
      - "Order"
      summary: "Gets MainCreditCard record based on MainCreditCardsFK"
      operationId: "Order_GetSavedCreditCard"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "sequencePK"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "SequencePK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/orders/{mainOrdersPK}/payments/info:
    get:
      tags:
      - "Order"
      summary: "Get payment info messages for UI"
      operationId: "Order_GetPaymentInfo"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PaymentInfoResponseModel"
  /api/v1/RMA/RMAs/Products:
    get:
      tags:
      - "Order"
      summary: "Get All RMAs and RMAproducts For Order by OrderFK"
      operationId: "Order_GetRMAsProducts"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "orderFK"
        in: "query"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "OrderFK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/RMAView"
  /api/v1/order/donationOrders:
    get:
      tags:
      - "Order"
      summary: "To get information about Donations"
      operationId: "Order_GetDonationOrders"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainFk"
        in: "query"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainFk"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/FullDonationReport"
  /api/v1/orders/{mainOrdersPK}/shipments-total:
    get:
      tags:
      - "Order"
      summary: "To get shipments total cost"
      operationId: "Order_GetOrderShipmentsTotal"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/OrderShipmentsTotalModel"
  /api/v1/order/get-ixo-pay-config/{fromProfile}:
    get:
      tags:
      - "Order"
      summary: "Returns config for IxoPay tokenEx iframe"
      operationId: "Order_GetTokenExConfig"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "fromProfile"
        in: "path"
        required: true
        type: "boolean"
        x-exportParamName: "FromProfile"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/getPayUReceiptLink/{mainOrdersPK}:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_GetPayUReceiptLink"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
  /api/v1/orders/{mainOrdersPK}/shipment-products:
    get:
      tags:
      - "Order"
      summary: "To get shipment data of orders products"
      operationId: "Order_GetOrderShipmentProducts"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/getWalletOrderLimit/{mainOrdersPK}:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_GetWalletLimit"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/WalletOrderLimit"
  /api/v1/order/isNiceGtwEnabled/{mainOrderTypeFk}:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_IsNiceGtwEnabled"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrderTypeFk"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrderTypeFk"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "boolean"
  /api/v1/order/{orderString}/confirmation-details:
    get:
      tags:
      - "Order"
      summary: "Get Order Details for confirmation Page."
      operationId: "Order_GetOrderDetailsForConfirmation"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "orderString"
        in: "path"
        description: "Order Id string"
        required: true
        type: "string"
        x-exportParamName: "OrderString"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderConfirmationDetailViewModel"
  /api/v1/order:
    get:
      tags:
      - "Order"
      summary: "Gets order history."
      operationId: "Order_GetOrders"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "EntityFk"
        in: "query"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "EntityFk"
      - name: "IsMain"
        in: "query"
        required: true
        type: "boolean"
        x-exportParamName: "IsMain"
      deprecated: true
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
    post:
      tags:
      - "Order"
      summary: "Create a new order with basic information"
      operationId: "Order_CreateOrder"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/NewOrderFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/getOpenPayReceiptLink/{mainOrdersPK}:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_GetOpenPayReceiptLink"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
  /api/v1/order/{orderId}/clearMerchantPendingStatus:
    get:
      tags:
      - "Order"
      operationId: "Order_ClearMerchantPendingStatus"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "orderId"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "OrderId"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/getBonusTokenOrderLimit/{mainOrdersPK}:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_GetBonusCreditLimit"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/SignupTokenOrderLimit"
  /api/v1/order/getMinimumAllowedPayment/{mainOrdersPK}:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_GetMinimumAllowedPayment"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "number"
            format: "double"
  /api/v1/order/get-braspagantifraud-scripts/{identifier}:
    get:
      tags:
      - "Order"
      summary: "Used to get InAuth configuration."
      operationId: "Order_GetBraspagAntifraudScirpts"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "identifier"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "Identifier"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/BraspagAntifraudScirptModel"
  /api/v1/order/getPayUBankTransferDetails/{mainOrdersPK}:
    get:
      tags:
      - "Order"
      operationId: "Order_GetPayUBankTransferDetails"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/PayUBankTransferDetails"
  /api/v1/order/useCrossBorderCharges/{shipTo}/{shipFrom}:
    get:
      tags:
      - "Order"
      operationId: "Order_UseCrossBorderCharges"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "shipTo"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ShipTo"
      - name: "shipFrom"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "ShipFrom"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/isCreditCardRedirectCheckout/{mainOrderPk}:
    get:
      tags:
      - "Order"
      summary: "Check if CC payment is redirect checkout payment"
      operationId: "Order_IsCreditCardRedirectCheckout"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrderPk"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrderPk"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/IsCreditCardRedirectCheckoutModel"
  /api/v1/order/get-available-coupons/{mainPk}/{mainOrdersPK}:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_GetAvailableCoupons"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainPk"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPk"
      - name: "mainOrdersPK"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AvailableCouponModel"
  /api/v1/order/shipping/{mainOrdersFK}/{shippingChartTypeFK}:
    get:
      tags:
      - "Order"
      summary: "Gets the shipping information for an order."
      operationId: "Order_GetOrderShipping"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersFK"
        in: "path"
        description: "OrderNumber"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersFK"
      - name: "shippingChartTypeFK"
        in: "path"
        description: "Shipping Key"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ShippingChartTypeFK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
    put:
      tags:
      - "Order"
      summary: "Sets the shipping information for an order."
      operationId: "Order_SetOrderShipping"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersFK"
        in: "path"
        description: "OrderNumber"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersFK"
      - name: "shippingChartTypeFK"
        in: "path"
        description: "Shipping Key"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ShippingChartTypeFK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/getRimanDollarsBalance/{mainPk}/{mainOrdersFk}:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_GetRimanDollarsBalance"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainPk"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPk"
      - name: "mainOrdersFk"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersFk"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "number"
            format: "double"
  /api/v1/order/isRoutedToZiraat/{mainOrderTypeFk}/{countryCode}:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_IsRoutedToZiraat"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrderTypeFk"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrderTypeFk"
      - name: "countryCode"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "CountryCode"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "boolean"
  /api/v1/order/convert-to-local-currency/{mainOrdersFK}/{amount}:
    get:
      tags:
      - "Order"
      summary: "Returns converted amount to local currency"
      operationId: "Order_ConvertToLocalCurrency"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersFK"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersFK"
      - name: "amount"
        in: "path"
        required: true
        type: "number"
        format: "double"
        x-exportParamName: "Amount"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/isMercadoPagoOrder/{mainOrderTypeFk}/{countryCode}:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_IsMercadoPagoOrder"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrderTypeFk"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrderTypeFk"
      - name: "countryCode"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "CountryCode"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "boolean"
  /api/v1/order/personal-use:
    get:
      tags:
      - "Order"
      summary: "To get information about Personal Use status"
      operationId: "Order_IsAllowPersonalUseFun"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
        x-optionalDataType: "Int32"
      - name: "cartKey"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "CartKey"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PersonalUseModel"
  /api/v1/order/processingFees:
    get:
      tags:
      - "Order"
      summary: "Returns order processing fees by country code"
      operationId: "Order_GetPaymentOrderProcessingFees"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "countryCode"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "CountryCode"
        x-optionalDataType: "String"
      - name: "culture"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Culture"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentOrderProcessingFeesModel"
  /api/v1/payment/customs-warning:
    get:
      tags:
      - "Order"
      summary: "Returns messages related to customs payment warning for the warehouse\
        \ country"
      operationId: "Order_GetCustomsPaymentWarnings"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "countryCode"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "CountryCode"
        x-optionalDataType: "String"
      - name: "culture"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Culture"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CustomsPaymentWarningModel"
  /api/v1/order/isLacoreFraudSettings/{mainOrderTypeFk}/{countryCode}/{currencyCode}:
    get:
      tags:
      - "Order"
      summary: "To get Lacore routing and AntiFraud settings"
      operationId: "Order_IsLacoreFraudSettings"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrderTypeFk"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrderTypeFk"
      - name: "countryCode"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "CountryCode"
      - name: "currencyCode"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "CurrencyCode"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
  /api/v1/order/wallet/discount:
    get:
      tags:
      - "Order"
      summary: "Check if Wallet discount available"
      operationId: "Order_GetWalletDiscount"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersFK"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersFK"
        x-optionalDataType: "Int32"
      - name: "countryCode"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "CountryCode"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/WalletDiscountModel"
  /api/v1/order/IsIxoPayActiveForGateway/{mainOrderTypeFk}/{countryCode}/{currencyCode}:
    get:
      tags:
      - "Order"
      summary: "Returns config for IxoPay tokenEx iframe"
      operationId: "Order_IsIxoPayActiveForGateway"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrderTypeFk"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrderTypeFk"
      - name: "countryCode"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "CountryCode"
      - name: "currencyCode"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "CurrencyCode"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/campaigns/info/{productBrandFK}/{countryCode}:
    get:
      tags:
      - "Order"
      summary: "Returns sales campaign info based on the campaign code."
      operationId: "Order_GetSalesCampaignByCampaignCode"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "productBrandFK"
        in: "path"
        description: "Product Brand PK"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ProductBrandFK"
      - name: "countryCode"
        in: "path"
        description: "Country Code"
        required: true
        type: "string"
        x-exportParamName: "CountryCode"
      - name: "cartType"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "CartType"
        x-optionalDataType: "String"
      - name: "culture"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Culture"
        x-optionalDataType: "String"
      - name: "siteUrl"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "SiteUrl"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/SalesCampaignModel"
  /api/v1/orders/verify-discount-code:
    get:
      tags:
      - "Order"
      summary: "Used to verify a discount code for a logged in distributor."
      operationId: "Order_VerifyDiscountCode"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "discountCode"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "DiscountCode"
        x-optionalDataType: "String"
      - name: "mainOrderTypeFk"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrderTypeFk"
        x-optionalDataType: "Int32"
      - name: "mainOrderPk"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrderPk"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/VerifyDiscountCodeReturnModel"
  /api/v1/order/payment/creditcard/types/{countryCode}/{currencyCode}:
    get:
      tags:
      - "Order"
      summary: "Returns a list of accepted credit card types for the specified country\
        \ code and currency code."
      operationId: "Order_GetAcceptedCreditCardTypes"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "countryCode"
        in: "path"
        description: "Example: US"
        required: true
        type: "string"
        x-exportParamName: "CountryCode"
      - name: "currencyCode"
        in: "path"
        description: "Example: USD"
        required: true
        type: "string"
        x-exportParamName: "CurrencyCode"
      - name: "mainOrderTypeFK"
        in: "query"
        description: "Main Order Type PK for the request"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrderTypeFK"
        x-optionalDataType: "Int32"
      - name: "mainOrderPk"
        in: "query"
        description: "Main Order PK for the request"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrderPk"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/campaigns/info/{productBrandFK}/{countryCode}/{campaignCode}:
    get:
      tags:
      - "Order"
      summary: "Returns sales campaign info based on the campaign code."
      operationId: "Order_GetSalesCampaignByCampaignCode"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "productBrandFK"
        in: "path"
        description: "Product Brand PK"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "ProductBrandFK"
      - name: "countryCode"
        in: "path"
        description: "Country Code"
        required: true
        type: "string"
        x-exportParamName: "CountryCode"
      - name: "campaignCode"
        in: "path"
        description: "Campaign Code"
        required: true
        type: "string"
        x-exportParamName: "CampaignCode"
      - name: "cartType"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "CartType"
        x-optionalDataType: "String"
      - name: "culture"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Culture"
        x-optionalDataType: "String"
      - name: "siteUrl"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "SiteUrl"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/SalesCampaignModel"
  /api/v1/order/isQRCodeOrderStatusUpdated:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_IsQRCodeOrderStatusUpdated"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersFK"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersFK"
        x-optionalDataType: "Int32"
      - name: "paymentMethodCode"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "PaymentMethodCode"
        x-optionalDataType: "String"
      - name: "paymentReference"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "PaymentReference"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "boolean"
  /api/v1/payments:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_GetPayments"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "paidStatusFK"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PaidStatusFK"
        x-optionalDataType: "Int32"
      - name: "paymentStartDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "PaymentStartDate"
        x-optionalDataType: "Time"
      - name: "paymentEndDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "PaymentEndDate"
        x-optionalDataType: "Time"
      - name: "orderStartDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "OrderStartDate"
        x-optionalDataType: "Time"
      - name: "orderEndDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "OrderEndDate"
        x-optionalDataType: "Time"
      - name: "paymentMethodCode"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "PaymentMethodCode"
        x-optionalDataType: "String"
      - name: "pageSize"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Page"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentSimpleViewModel"
  /api/v1/RMA:
    get:
      tags:
      - "Order"
      summary: "To get items from RMA table order OrderByDescending Issue_Date"
      operationId: "Order_GetOrSearchRMAs"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "query.rmaNumber"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "QueryRmaNumber"
        x-optionalDataType: "Int32"
      - name: "query.orderNumber"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "QueryOrderNumber"
        x-optionalDataType: "Int32"
      - name: "query.customerSiteurl"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "QueryCustomerSiteurl"
        x-optionalDataType: "String"
      - name: "query.customerName"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "QueryCustomerName"
        x-optionalDataType: "String"
      - name: "query.issuedBy"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "QueryIssuedBy"
        x-optionalDataType: "String"
      - name: "query.issuedDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "QueryIssuedDate"
        x-optionalDataType: "Time"
      - name: "query.jnsDepartment"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "QueryJnsDepartment"
        x-optionalDataType: "String"
      - name: "query.statusId"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "QueryStatusId"
        x-optionalDataType: "String"
      - name: "query.recivedDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "QueryRecivedDate"
        x-optionalDataType: "Time"
      - name: "query.refundDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "QueryRefundDate"
        x-optionalDataType: "Time"
      - name: "query.offset"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "QueryOffset"
        x-optionalDataType: "Int32"
      - name: "query.limit"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "QueryLimit"
        x-optionalDataType: "Int32"
      - name: "query.orderBy"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "QueryOrderBy"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/RMAView"
    post:
      tags:
      - "Order"
      summary: "Create RMA"
      operationId: "Order_CreateRMA"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "newRMA"
        required: true
        schema:
          $ref: "#/definitions/RMAFormModel"
        x-exportParamName: "NewRMA"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
    put:
      tags:
      - "Order"
      summary: "Update RMA"
      operationId: "Order_UpdateRMA"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "rmaUpdateQueryModel"
        required: true
        schema:
          $ref: "#/definitions/RMAUpdateQueryModel"
        x-exportParamName: "RmaUpdateQueryModel"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/orders:
    get:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_GetMainOrders"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainId"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "MainId"
        x-optionalDataType: "String"
      - name: "mainSiteUrl"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "MainSiteUrl"
        x-optionalDataType: "String"
      - name: "orderNumber"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "OrderNumber"
        x-optionalDataType: "String"
      - name: "shipmentNumber"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "ShipmentNumber"
        x-optionalDataType: "String"
      - name: "trackingNumber"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "TrackingNumber"
        x-optionalDataType: "String"
      - name: "getCustomerOrders"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "GetCustomerOrders"
        x-optionalDataType: "Bool"
      - name: "getAbandonedOrders"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "GetAbandonedOrders"
        x-optionalDataType: "Bool"
      - name: "getEnrollerOrders"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "GetEnrollerOrders"
        x-optionalDataType: "Bool"
      - name: "getDownlineOrders"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "GetDownlineOrders"
        x-optionalDataType: "Bool"
      - name: "paidStatus"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "PaidStatus"
        x-optionalDataType: "Bool"
      - name: "startDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartDate"
        x-optionalDataType: "Time"
      - name: "endDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndDate"
        x-optionalDataType: "Time"
      - name: "orderType"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "OrderType"
        x-optionalDataType: "String"
      - name: "offset"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "orderBy"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      - name: "productPKs"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "ProductPKs"
        x-optionalDataType: "String"
      - name: "isRefunded"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "IsRefunded"
        x-optionalDataType: "Bool"
      - name: "countryCode"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "CountryCode"
        x-optionalDataType: "String"
      - name: "salesCampaignPK"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "SalesCampaignPK"
        x-optionalDataType: "Int32"
      - name: "shippingStatus"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "ShippingStatus"
        x-optionalDataType: "String"
      - name: "shouldIncludeShippingDetail"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "ShouldIncludeShippingDetail"
        x-optionalDataType: "Bool"
      - name: "shouldIncludeOrderItems"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "ShouldIncludeOrderItems"
        x-optionalDataType: "Bool"
      - name: "shouldIncludePayments"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "ShouldIncludePayments"
        x-optionalDataType: "Bool"
      - name: "shouldCheckIfPrepaid"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "ShouldCheckIfPrepaid"
        x-optionalDataType: "Bool"
      - name: "orderLevel"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "OrderLevel"
        x-optionalDataType: "String"
      - name: "getDataToExport"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "GetDataToExport"
        x-optionalDataType: "Bool"
      - name: "customerOrdersMainId"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "CustomerOrdersMainId"
        x-optionalDataType: "Int32"
      - name: "weChatOrderNumber"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "WeChatOrderNumber"
        x-optionalDataType: "String"
      - name: "memberID"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "MemberID"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/MainOrderSimpleViewModel"
  /api/v1/order/main-type:
    put:
      tags:
      - "Order"
      operationId: "Order_UpdateOrderMainType"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/OrderMainTypeFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/set-shipping:
    put:
      tags:
      - "Order"
      operationId: "Order_SetShippingOnOrder"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/SetShippingFormModel"
        x-exportParamName: "Model"
      deprecated: true
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/shipping/address/{mainOrdersFK}:
    put:
      tags:
      - "Order"
      summary: "Updates the shipping address informaiton for an order."
      description: "Required Fields: FirstName, LastName, Address1, City, State, PostalCode,\
        \ Country <param name=\"mainOrdersFK\">OrderNumber</param><param name=\"model\"\
        >Address Information</param>"
      operationId: "Order_UpdateOrderShippingAddress"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersFK"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersFK"
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/UpdateOrderShipAddressFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/save-ixo-pay-token/{mainOrdersFK}:
    put:
      tags:
      - "Order"
      summary: "Returns config for IxoPay tokenEx iframe"
      operationId: "Order_SaveTokenExConfig"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/IxoPayTokenModel"
        x-exportParamName: "Model"
      - name: "mainOrdersFK"
        in: "path"
        description: ""
        required: true
        type: "integer"
        default: 0
        format: "int32"
        x-exportParamName: "MainOrdersFK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/import-order/{mainOrderPk}/{importOrder}:
    put:
      tags:
      - "Order"
      summary: "Updates ImportOrder of the specific order by unique identifier"
      operationId: "Order_UpdateImportOrderType"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrderPk"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrderPk"
      - name: "importOrder"
        in: "path"
        description: ""
        required: true
        type: "boolean"
        x-exportParamName: "ImportOrder"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/orders/{mainOrdersPK}/payments/{paymentMethodPK}:
    put:
      tags:
      - "Order"
      summary: "Updates payments on order"
      operationId: "Order_UpdatePayment"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      - name: "paymentMethodPK"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "PaymentMethodPK"
      - in: "body"
        name: "payment"
        required: true
        schema:
          $ref: "#/definitions/PaymentUpdateFormModel"
        x-exportParamName: "Payment"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentProcessingResponse"
  /api/v1/order/log:
    post:
      tags:
      - "Order"
      summary: "Used to add a status update log to an order."
      operationId: "Order_AddLogOrderStatus"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/AddLogOrderStatusFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/3ds2:
    post:
      tags:
      - "Order"
      summary: "Get redirect Url for 3D 2 Secure payment"
      operationId: "Order_Get3Ds2"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/OrderComplete3DS2Model"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/3dsurl:
    post:
      tags:
      - "Order"
      summary: "Get redirect Url for 3D Secure payment"
      operationId: "Order_Get3DsUrl"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/OrderCompleteModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/product:
    post:
      tags:
      - "Order"
      summary: "Remove items from an existing, in process order. It will remove all\
        \ existing items, if any, and add the items provided to the order"
      operationId: "Order_AddProduct"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/AddProductFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/complete:
    post:
      tags:
      - "Order"
      summary: "Finalize an order in process"
      operationId: "Order_SubmitOrder"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/OrderCompleteModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/RMA/send-summary:
    post:
      tags:
      - "Order"
      summary: "Send summary to the distributor"
      operationId: "Order_SendSummury"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "rmaInfo"
        required: true
        schema:
          $ref: "#/definitions/RMASendSummaryInfoModel"
        x-exportParamName: "RmaInfo"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/3dstokenurl:
    post:
      tags:
      - "Order"
      summary: "Get token url/model for token processing"
      operationId: "Order_Get3DsTokenUrl"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/OrderCompleteTokenModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/retail/info:
    post:
      tags:
      - "Order"
      summary: "Used to set retail tracking information for retails orders once they\
        \ have been completed."
      operationId: "Order_AddMainRetailInfo"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/AddMainRetailInfoFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/update-type:
    post:
      tags:
      - "Order"
      summary: "Updates the order type based on cart information. Will not update\
        \ paid orders."
      operationId: "Order_SetOrderType"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: "SetOrderTypeFormModel"
        required: true
        schema:
          $ref: "#/definitions/UpdateOrderTypeFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/UpdateOrderTypeViewModel"
  /api/v1/order/climbers-club:
    post:
      tags:
      - "Order"
      summary: "Finalize climbers club sign up. Creates order and takes money from\
        \ cliffs wallet. Returns success or failure"
      operationId: "Order_CreateOrderClimbersClub"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/getInstallments:
    post:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_GetInstallments"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/MerchantInstallmentsFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/MerchantInstallmentsConfigModel"
  /api/v1/order/merchant/cancel:
    post:
      tags:
      - "Order"
      summary: "Used to cancelation PayPal Order."
      operationId: "Order_CancelMerchantOrder"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/OrderResponseModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/initInstallments:
    post:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_InitInstallments"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/MerchantInstallmentsFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/MerchantInstallmentsConfigModel"
  /api/v1/order/payment/set-card:
    post:
      tags:
      - "Order"
      summary: "Updates MainCreditCardsFK column in MainOrders Table"
      operationId: "Order_UseSavedCreditCard"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/SavedCCModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/saveInstallments:
    post:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_SaveInstallments"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/MerchantInstallmentsFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/MerchantInstallmentsConfigModel"
  /api/v1/order/addProcessingFees:
    post:
      tags:
      - "Order"
      summary: "Adds processing fees to an order"
      operationId: "Order_AddProcessingFees"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/AddProcessingFeesFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "number"
            format: "double"
  /api/v1/order/payment/creditcard:
    post:
      tags:
      - "Order"
      summary: "Adds the Credit Card payment information to an order in process"
      operationId: "Order_AddCCPaymentToOrder"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/AddCCPaymentFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/creditcard/validate:
    post:
      tags:
      - "Order"
      summary: "Validate Credit Card Number"
      operationId: "Order_ValidateCreditCard"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/ValidateCreditCardModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ValidateCreditCardResponse"
  /api/v1/order/tracking/{TrackingId}:
    post:
      tags:
      - "Order"
      summary: "Used to load the retail cart info based on the re-marketing tracking\
        \ id."
      operationId: "Order_GetRetailCartByRemarketingTrackingId"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "TrackingId"
        in: "path"
        description: "GUID: Email Tracking Id"
        required: true
        type: "string"
        x-exportParamName: "TrackingId"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/OrderInfoModel"
  /api/v1/orders/create-prepaid-order:
    post:
      tags:
      - "Order"
      summary: "Runs the manual process to create an prepaid order for the currently\
        \ logged in customer."
      operationId: "Order_CreatePrepaidOrder"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "products"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/CartItemFormModel"
        x-exportParamName: "Products"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/AutoshipOrderInfoViewModel"
  /api/v1/order/paypal/get-process-url:
    post:
      tags:
      - "Order"
      summary: "Used to get redirect url to PayPal."
      operationId: "Order_ProcessPayPalOrder"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/OrderProcessModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/orders/create-autoship-order:
    post:
      tags:
      - "Order"
      summary: "Runs the manual process to create an autoship order for the currently\
        \ logged in customer."
      operationId: "Order_CreateAutoshipOrder"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/AutoshipOrderInfoViewModel"
  /api/v1/orders/{mainOrdersPK}/validate:
    post:
      tags:
      - "Order"
      summary: "Used to validate an order information before it is submitted."
      operationId: "Order_ValidateDiscountCode"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        description: "Main Orders PK"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ValidateOrderViewModel"
  /api/v1/order/merchant/getRedirectModel:
    post:
      tags:
      - "Order"
      summary: "Return merchant redirect model with required parameters for UI"
      operationId: "Order_GetMerchantRedirectModel"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/MerchantRedirectFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/MerchantRedirectViewModel"
  /api/v1/order/merchant/process-response:
    post:
      tags:
      - "Order"
      summary: "Used to process response from PayPal."
      operationId: "Order_ProcessPayPalOrderResponse"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/OrderResponseModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentProcessingResponse"
  /api/v1/order/set-invoice-insurance-type:
    post:
      tags:
      - "Order"
      summary: "Sets invoice insurance type"
      operationId: "Order_SetInvoiceInsuranceType"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/InvoiceInsuranceTypeModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/order/isInstallmentsExtensionValid:
    post:
      tags:
      - "Order"
      summary: ""
      operationId: "Order_IsInstallmentsExtensionValid"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/MerchantInstallmentsFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "boolean"
  /api/v1/order/merchant/getRedirectModelStep2:
    post:
      tags:
      - "Order"
      summary: "Get script\\iframe for redirect step 2"
      operationId: "Order_GetMerchantRedirectModelStep2"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/MerchantRedirectFormModelStep2"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/MerchantRedirectModelStep2"
  /api/v1/order/{mainOrdersPK}/apply-riman-dollars:
    post:
      tags:
      - "Order"
      summary: "Used to apply a Riman dollars to an order for a distributor."
      operationId: "Order_ApplyRimanDollarsPayment"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      - in: "body"
        name: "payment"
        required: true
        schema:
          $ref: "#/definitions/RimanDollarsPaymentModel"
        x-exportParamName: "Payment"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/PaymentProcessingResponse"
  /api/v1/orders/{mainOrdersPK}/apply-discount-code:
    post:
      tags:
      - "Order"
      summary: "Used to apply a discount code to an order for a distributor."
      operationId: "Order_ApplyDiscountCode"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        description: "Main Orders PK"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainOrdersPK"
      - in: "body"
        name: "model"
        description: "Form Model"
        required: true
        schema:
          $ref: "#/definitions/ApplyOrderDiscountFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/orders/{mainOrdersPK}/update-personal-use:
    post:
      tags:
      - "Order"
      summary: "Used to update the personal use only flag on main orders."
      operationId: "Order_UpdatePersonalUseFlag"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainOrdersPK"
        in: "path"
        description: "Main Orders PK"
        required: true
        type: "string"
        x-exportParamName: "MainOrdersPK"
      - in: "body"
        name: "model"
        description: "Form Model"
        required: true
        schema:
          $ref: "#/definitions/UpdatePersonalUseFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/product/rafiki:
    get:
      tags:
      - "Product"
      summary: "Get the details for the dontion product called Rafiki"
      operationId: "Product_GetRafikiProduct"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/product/samples/{siteUrl}:
    get:
      tags:
      - "Product"
      summary: ""
      operationId: "Product_GetSamples"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "siteUrl"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "SiteUrl"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/product/regulatory-details:
    get:
      tags:
      - "Product"
      summary: "Returns product details for Regulatory"
      operationId: "Product_GetProductRegulatoryDetails"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "sku"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Sku"
        x-optionalDataType: "String"
      - name: "culture"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Culture"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/ProductRegulatoryDetailsViewModel"
  /api/v1/product/detail:
    post:
      tags:
      - "Product"
      summary: "Get the detail information for products"
      operationId: "Product_GetProductDetail"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: "Multiple arrays that are used to look up products"
        required: true
        schema:
          $ref: "#/definitions/ProductDetailFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/product/retail:
    post:
      tags:
      - "Product"
      summary: "Gets all retail products metadata for a given siteurl, culturename,\
        \ and country."
      operationId: "Product_GetRetailProducts"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/ProductFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/product/wholesale:
    post:
      tags:
      - "Product"
      summary: "Gets all wholesale products metadata for a given siteurl, culturename,\
        \ and country."
      operationId: "Product_GetWholeSaleProducts"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/ProductFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/product/configuration:
    post:
      tags:
      - "Product"
      summary: "Use for products that have 'flavors' to an individual item"
      operationId: "Product_GetProductConfiguration"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/ProductConfigurationFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/product/nv/shade-request:
    post:
      tags:
      - "Product"
      summary: "Submits a shade form request via email."
      operationId: "Product_SubmitNvShadeRequest"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/ShadeRequestModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/quiz:
    get:
      tags:
      - "Quiz"
      summary: "Returns the quiz questions and answers"
      operationId: "Quiz_GetQuiz"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "countryCode"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "CountryCode"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/QuizModel"
    post:
      tags:
      - "Quiz"
      summary: "Returns the product based on the quiz answers"
      operationId: "Quiz_GetProductByQuizAnswers"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "quizAnswer"
        description: "Answer IDs"
        required: true
        schema:
          $ref: "#/definitions/QuizAnswerFormModel"
        x-exportParamName: "QuizAnswer"
      - name: "countryCode"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "CountryCode"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/FullProductViewModel"
  /api/v1/rewards/refer-a-friend/status:
    get:
      tags:
      - "ReferAFriend"
      summary: "Gets the customer status for referrals."
      operationId: "ReferAFriend_GetStatus"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CustomerReferralStatusModel"
  /api/v1/rewards/refer-a-friend/settings:
    get:
      tags:
      - "ReferAFriend"
      summary: "Gets the refer a friend config."
      operationId: "ReferAFriend_GetSettings"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters: []
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/CustomerReferralSettingsSimpleModel"
  /api/v1/rewards/refer-a-friend:
    get:
      tags:
      - "ReferAFriend"
      summary: "Gets the list of referrals for a preferred customer."
      operationId: "ReferAFriend_GetReferralsAsync"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "customerMainPk"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "CustomerMainPk"
        x-optionalDataType: "String"
      - name: "referralId"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "ReferralId"
        x-optionalDataType: "String"
      - name: "referralEmail"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "ReferralEmail"
        x-optionalDataType: "String"
      - name: "referralFirstName"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "ReferralFirstName"
        x-optionalDataType: "String"
      - name: "referralLastName"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "ReferralLastName"
        x-optionalDataType: "String"
      - name: "referralStatus"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "ReferralStatus"
        x-optionalDataType: "String"
      - name: "referralBeforeDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "ReferralBeforeDate"
        x-optionalDataType: "Time"
      - name: "referralAfterDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "ReferralAfterDate"
        x-optionalDataType: "Time"
      - name: "earnedPointsBeforeDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EarnedPointsBeforeDate"
        x-optionalDataType: "Time"
      - name: "earnedPointsAfterDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EarnedPointsAfterDate"
        x-optionalDataType: "Time"
      - name: "offset"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      - name: "orderBy"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      - name: "skipCount"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "SkipCount"
        x-optionalDataType: "Bool"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/CustomerReferralViewModel"
  /api/v1/rewards/refer-a-friend/{mainPk}:
    post:
      tags:
      - "ReferAFriend"
      summary: "Save a list of referrals for a preferred customer."
      operationId: "ReferAFriend_CreateReferrals"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainPk"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPk"
      - in: "body"
        name: "referrals"
        required: true
        schema:
          $ref: "#/definitions/CustomerReferralFormModel"
        x-exportParamName: "Referrals"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/CustomerReferralReturnModel"
  /api/v1/shipping/methods/{mainOrdersFK}/{countryCode}:
    get:
      tags:
[...]
