---
swagger: "2.0"
info:
  description: "A Microsoft WebApi2 application. For use by Jeunesse and its Partners,\
    \ this api has a focus on product and order creation"
  version: "v1"
  title: "Profile-Api v1.0"
host: "profile-api.riman.com"
schemes:
- "https"
paths:
  /api/v1/address/auto-complete:
    get:
      tags:
      - "Address"
      summary: "gets a list of potential address matches. Uses long/lat to narrow\
        \ focus if provided."
      operationId: "Address_AddressAutocomplete"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "AddressString"
        in: "query"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "AddressString"
      - name: "Country"
        in: "query"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Country"
      - name: "Latitude"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Latitude"
        x-optionalDataType: "String"
      - name: "Longitude"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Longitude"
        x-optionalDataType: "String"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Address.AddressModelView"
  /api/v1/address/validate:
    get:
      tags:
      - "Address"
      summary: "Validate address by dynamic library"
      operationId: "Address_AddressValidate"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "selectedShippingMethod"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "SelectedShippingMethod"
        x-optionalDataType: "Int32"
      - name: "isAutoComplete"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "IsAutoComplete"
        x-optionalDataType: "Bool"
      - name: "description"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Description"
        x-optionalDataType: "String"
      - name: "address1"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Address1"
        x-optionalDataType: "String"
      - name: "city"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "City"
        x-optionalDataType: "String"
      - name: "state"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "State"
        x-optionalDataType: "String"
      - name: "zipCode"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "ZipCode"
        x-optionalDataType: "String"
      - name: "country"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Country"
        x-optionalDataType: "String"
      - name: "placeId"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "PlaceId"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Address.Models.AddressValidationViewModel"
    post:
      tags:
      - "Address"
      summary: "Gets detailed address of provided address or placeId\r\nUse placeId\
        \ instead of address if possible to reduce cost"
      operationId: "Address_AddressGetDetails"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "PlaceId"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "PlaceId"
        x-optionalDataType: "String"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Address.AddressModelView"
  /api/v1/approvals:
    get:
      tags:
      - "Approval"
      summary: "Gets a list of Approval Tasks."
      operationId: "Approval_GetApprovalTasks"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "distributorSiteUrl"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "DistributorSiteUrl"
        x-optionalDataType: "String"
      - name: "reqSiteUrl"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "ReqSiteUrl"
        x-optionalDataType: "String"
      - name: "typeFK"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "TypeFK"
        x-optionalDataType: "Int32"
      - name: "statusFKs"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "StatusFKs"
        x-optionalDataType: "String"
      - name: "pageSize"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int32"
      - name: "pageNumber"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "PageNumber"
        x-optionalDataType: "Int32"
      - name: "orderBy"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Wallet.Models.Approvals.ApprovalTasksViewModel"
    put:
      tags:
      - "Approval"
      summary: "Edit a Approval Task."
      operationId: "Approval_EditTicket"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "Query"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.Wallet.Models.Approvals.ApprovalTaskUpdateQueryModel"
        x-exportParamName: "Query"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "boolean"
  /api/v1/dashboards/team:
    get:
      tags:
      - "Dashboards"
      summary: "Get Team details"
      operationId: "Dashboards_GetTeamDetails"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.TeamMembersModel"
  /api/v1/dashboards/promo-id:
    get:
      tags:
      - "Dashboards"
      summary: "Get dashboard promotion report id"
      operationId: "Dashboards_GetDashboardPromotionId"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "integer"
            format: "int32"
  /api/v1/dashboards/commissions:
    get:
      tags:
      - "Dashboards"
      summary: "Get Commissions data"
      operationId: "Dashboards_GetCommisions"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.CommissionModel"
  /api/v1/dashboards/personal-info:
    get:
      tags:
      - "Dashboards"
      summary: "Get data for Personal Info"
      operationId: "Dashboards_GetPersonalInfo"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.PersonalInfoModel"
  /api/v1/dashboards/top-producers:
    get:
      tags:
      - "Dashboards"
      summary: "Get Top producers"
      operationId: "Dashboards_GetTopProducers"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.TopProducersModel"
  /api/v1/dashboards/bp-sp-snapshot:
    get:
      tags:
      - "Dashboards"
      summary: "Get data for Personal snapshot"
      operationId: "Dashboards_GetBpSpSnapshot"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.BpSpSnapshotModel"
  /api/v1/dashboards/personal-snapshot:
    get:
      tags:
      - "Dashboards"
      summary: "Get data for Personal snapshot"
      operationId: "Dashboards_GetPersonalSnapshot"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.PersonalSnapshotModel"
  /api/v1/dashboards/show-agree/{siteUrl}:
    get:
      tags:
      - "Dashboards"
      summary: "Get main user details"
      operationId: "Dashboards_CheckIfShouldShowAgree"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "siteUrl"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "SiteUrl"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "boolean"
  /api/v1/dashboards/flush-points-days-left:
    get:
      tags:
      - "Dashboards"
      summary: "Get flush points days left count to show it on UI"
      operationId: "Dashboards_GetFlushPointsDaysLeft"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "integer"
            format: "int32"
  /api/v1/dashboards/enrollee-sales/{siteUrl}:
    get:
      tags:
      - "Dashboards"
      summary: "Get Enrollee sales details"
      operationId: "Dashboards_GetEnrolleeSalesDetails"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "siteUrl"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "SiteUrl"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.EnrolleeSalesModel"
  /api/v1/dashboards/commissions-tier/{siteUrl}:
    get:
      tags:
      - "Dashboards"
      summary: "Get Commissions Tier data"
      operationId: "Dashboards_GetCustCommTier"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "siteUrl"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "SiteUrl"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.CustomerCommissionsTierModel"
  /api/v1/dashboards/customers/{siteUrl}/{year}:
    get:
      tags:
      - "Dashboards"
      summary: "Get referred customers"
      operationId: "Dashboards_GetCustomers"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "siteUrl"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "SiteUrl"
      - name: "year"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Year"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.CustomerSalesCommissionsModel"
  /api/v1/dashboards/promo-winners/{promotionId}:
    get:
      tags:
      - "Dashboards"
      summary: "Get list of winners for specific promotion"
      operationId: "Dashboards_DashbortdPromoWinnersModel"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "promotionId"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "PromotionId"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.DashbortdPromoWinnerModel"
  /api/v1/dashboards/promo-user-data/{promotionId}:
    get:
      tags:
      - "Dashboards"
      summary: "Get user data for specific promotion"
      operationId: "Dashboards_GetDashboardPromoUserData"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "promotionId"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "PromotionId"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.DashboardPromoUserDataModel"
  /api/v1/dashboards/volume-rsb-sales/{siteUrl}/{year}:
    get:
      tags:
      - "Dashboards"
      summary: "Get Customer Sales data"
      operationId: "Dashboards_GetVolRSBSales"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "siteUrl"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "SiteUrl"
      - name: "year"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Year"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.CustomerSalesCommissionsModel"
  /api/v1/dashboards/massive-action-bonus/{promotionId}:
    get:
      tags:
      - "Dashboards"
      summary: "Get data for Massive Action Bonus Promo"
      operationId: "Dashboards_GetDistMassiveActionBonusPromoData"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "promotionId"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "PromotionId"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.MassiveBonusPromoModel"
  /api/v1/dashboards/volume-rsb-commissions/{siteUrl}/{year}:
    get:
      tags:
      - "Dashboards"
      summary: "Get Customer Commissions data"
      operationId: "Dashboards_GetVolRSBCommisions"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "siteUrl"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "SiteUrl"
      - name: "year"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "Year"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.CustomerSalesCommissionsModel"
  /api/v1/dashboards/signups:
    get:
      tags:
      - "Dashboards"
      summary: "Returns a list of monthly datapoints containing new contact type counts."
      operationId: "Dashboards_GetNewContactCounts"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "startDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartDate"
        x-optionalDataType: "Time"
      - name: "endDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndDate"
        x-optionalDataType: "Time"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.SmartMobile.GetNewContactCountsApiResponseModel"
  /api/v1/dashboards/new-reps:
    get:
      tags:
      - "Dashboards"
      summary: "Returns a list of monthly datapoints containing new signup rep counts."
      operationId: "Dashboards_GetNewReps"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "startDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartDate"
        x-optionalDataType: "Time"
      - name: "endDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndDate"
        x-optionalDataType: "Time"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.SmartMobile.ContactModel"
  /api/v1/dashboards/commissions-total:
    get:
      tags:
      - "Dashboards"
      summary: "Returns commission total for specified time range."
      operationId: "Dashboards_GetCommissionsTotal"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "startDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartDate"
        x-optionalDataType: "Time"
      - name: "endDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndDate"
        x-optionalDataType: "Time"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.GetCommissionsTotalApiResponseModel"
  /api/v1/dashboards/top-sales-contact:
    get:
      tags:
      - "Dashboards"
      summary: "Returns top customer for specified date range."
      operationId: "Dashboards_GetTopSalesContact"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "startDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartDate"
        x-optionalDataType: "Time"
      - name: "endDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndDate"
        x-optionalDataType: "Time"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.SmartMobile.ContactModel"
  /api/v1/dashboards/monthly-sales-data:
    get:
      tags:
      - "Dashboards"
      summary: "Returns a list of monthly datapoints containing sales totals for the\
        \ requested date range."
      operationId: "Dashboards_GetMonthlySalesData"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "startDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartDate"
        x-optionalDataType: "Time"
      - name: "endDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndDate"
        x-optionalDataType: "Time"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.SmartMobile.GetMonthlySalesDataApiResponseModel"
  /api/v1/dashboards/monthly-product-data:
    get:
      tags:
      - "Dashboards"
      summary: "Returns a list of monthly datapoints containing product totals for\
        \ the requested date range in the requested language."
      operationId: "Dashboards_GetMonthlyProductData"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "startDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "StartDate"
        x-optionalDataType: "Time"
      - name: "endDate"
        in: "query"
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "EndDate"
        x-optionalDataType: "Time"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.SmartMobile.GetMonthlyProductDataApiResponseModel"
  /api/v1/dashboards/event-tickets-snapshot:
    get:
      tags:
      - "Dashboards"
      summary: "Get data for event tickets snapshot"
      operationId: "Dashboards_GetEventTicketsSnapshots"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "eventId"
        in: "query"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "EventId"
      - name: "searchDay"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "SearchDay"
        x-optionalDataType: "String"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Dashboards.Models.EventTicketsSnapshot"
  /api/v1/dashboards/smartNews:
    get:
      tags:
      - "Dashboards"
      summary: "Get smart news feed"
      operationId: "Dashboards_GetSmartNewsFeed"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "siteUrl"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "SiteUrl"
        x-optionalDataType: "String"
      - name: "mainFK"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MainFK"
        x-optionalDataType: "Int32"
      - name: "length"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Length"
        x-optionalDataType: "Int32"
      - name: "usePinPriority"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "UsePinPriority"
        x-optionalDataType: "Bool"
      - name: "country"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Country"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/discount:
    post:
      tags:
      - "Discount"
      summary: "generate discounts"
      operationId: "Discount_DiscountGenerate"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "discount"
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.Discount.Models.DiscountModel"
        x-exportParamName: "Discount"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
    put:
      tags:
      - "Discount"
      summary: "extend discount expiration"
      operationId: "Discount_DiscountExtend"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "discount"
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.Discount.Models.DiscountModel"
        x-exportParamName: "Discount"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/dynamic-fields/get-data:
    get:
      tags:
      - "DynamicFields"
      summary: "Call to get existing user data for the sent array of fields\r\nIt\
        \ checks against the UpdateSchema JSON to find where to\r\nretrieve from for\
        \ the key(s) provided"
      operationId: "DynamicFields_GetDynamicFieldData"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "country"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Country"
        x-optionalDataType: "String"
      - name: "schemaType"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "SchemaType"
        x-optionalDataType: "Int32"
      - name: "signupKey"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "SignupKey"
        x-optionalDataType: "String"
      - name: "mainPk"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPk"
        x-optionalDataType: "Int32"
      - name: "cartKey"
        in: "query"
        required: false
        type: "string"
        format: "uuid"
        x-exportParamName: "CartKey"
      - name: "fields"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      - name: "inputName"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "InputName"
        x-optionalDataType: "String"
      - name: "fieldValues"
        in: "query"
        required: false
        type: "array"
        items: {}
        collectionFormat: "multi"
        x-exportParamName: "FieldValues"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.DynamicFields.Models.DynamicValuesViewModel"
  /api/v1/form:
    get:
      tags:
      - "DynamicFields"
      summary: "Retrieves the Json form data for the specified country and form type"
      operationId: "DynamicFields_GetJsonFormData"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "countryCode"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "CountryCode"
        x-optionalDataType: "String"
      - name: "formType"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "FormType"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.DynamicFields.Models.DynamicFormModel"
  /api/v1/form/data-source:
    post:
      tags:
      - "DynamicFields"
      summary: "Used to pull data source values for a <select></select> type input.\
        \ Simply pass the \r\nname of the input and expect a list of SelectListItem\
        \ values back. \r\ni.e. { name: string, value: string } An example of this\
        \ would be pulling a \r\nlist of States for the passed in country. Pass the\
        \ countryCode and the \r\ninputName of \"state\" and get the data needed.\
        \ In this case the dependent fields\r\nproperty would be empty.\r\nA slightly\
        \ more complicated example of when we'd use this would be for \r\npopulating\
        \ the <select></select> list of shipping methods. Because the shipping \r\n\
        methods require the state, country, zip (maybe city too), we'd pass their\
        \ names and \r\nvalues in the dependent fields property to get the shipping\
        \ methods."
      operationId: "DynamicFields_GetDataSourceValuesForInputName"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "queryModel"
        description: "model of data to retrieve"
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.DynamicFields.Models.PopulateInputQueryModel"
        x-exportParamName: "QueryModel"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/System.Web.WebPages.Html.SelectListItem"
  /api/v1/form/input-value:
    post:
      tags:
      - "DynamicFields"
      summary: "Used to pull an actual value for an input based on other inputs entered.\
        \ This would \r\nalways be tied to a populate-type rule associated with the\
        \ form. An example would \r\nbe for the Brazil address form where filling\
        \ in the postal code will trigger this \r\nAPI for the Neighborhood, City,\
        \ etc inputs to auto-populate with values."
      operationId: "DynamicFields_GetValueForInputName"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "queryModel"
        description: "model of data to retrieve"
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.DynamicFields.Models.PopulateValuesQueryModel"
        x-exportParamName: "QueryModel"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.DynamicFields.Models.FormInputModel"
  /api/v1/dynamic-fields/set-data:
    post:
      tags:
      - "DynamicFields"
      summary: "Call to update user data for dynamic fields. Checks against the UpdateSchema\
        \ JSON\r\nto determine where to store data by the fields provided"
      operationId: "DynamicFields_SetDynamicFieldData"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.DynamicFields.Models.DynamicValuesPostFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.DynamicFields.Models.DynamicValuesViewModel"
  /api/v1/dynamic-fields/validation:
    post:
      tags:
      - "DynamicFields"
      summary: "Does validation for to check for duplicates and/or run a\r\nsproc\
        \ or function to validate the format. Checks against the\r\nUpdateSchema JSON\
        \ to get info on if it is checking duplicates\r\nor if it needs to build a\
        \ query for the JSON"
      operationId: "DynamicFields_Validation"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.DynamicFields.Models.DynamicValuesPostFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.DynamicFields.Models.DynamicValuesViewModel"
  /api/v1/form/validate/{countryCode}:
    post:
      tags:
      - "DynamicFields"
      summary: "Used to validate the value of a single input. Designed for inputs\
        \ that would \r\nrequire API calls to validate. An example would be when we\
        \ use the username \r\nfield when checking out a new customer with SmartDelivery.\
        \ We use an API to \r\ndetermine if the username is available."
      operationId: "DynamicFields_ValidateFormInput"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "countryCode"
        in: "path"
        description: "country to get data for"
        required: true
        type: "string"
        x-exportParamName: "CountryCode"
      - in: "body"
        name: "formInput"
        description: "the input to validate with the name and value"
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.DynamicFields.Models.FormInputModel"
        x-exportParamName: "FormInput"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.DynamicFields.Models.InputValidatedModel"
  /api/v1/dynamic-fields/options-search:
    post:
      tags:
      - "DynamicFields"
      summary: "Call to get options list for dropdowns source\r\nWorks with parameters"
      operationId: "DynamicFields_OptionsSearchPost"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.DynamicFields.Models.DynamicValuesGetFormModel"
        x-exportParamName: "Model"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/dynamic-fields/migrate:
    post:
      tags:
      - "DynamicFields"
      summary: "Migrates data for signup users to the relevant tables. Uses\r\nthe\
        \ UpdateSchema field to determine where the data should be migrated to.\r\n\
        After copying over it removes the record from the signup dynamic table."
      operationId: "DynamicFields_MigrateDynamicSignupData"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "signupKey"
        in: "query"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "SignupKey"
      - name: "MainPk"
        in: "query"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPk"
      - name: "country"
        in: "query"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Country"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/lacoreconnect/notification-process:
    post:
      tags:
      - "LacoreConnect"
      operationId: "LacoreConnect_NotificationProcess"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "lacoreOrder"
        required: true
        schema:
          type: "object"
        x-exportParamName: "LacoreOrder"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/legal/documents:
    get:
      tags:
      - "Legal"
      summary: "Returns the legal documents required for a specific country and language"
      operationId: "Legal_GetLegalDocument"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "countryCode"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "CountryCode"
      - name: "langID"
        in: "query"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "LangID"
      - name: "fromPage"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "FromPage"
        x-optionalDataType: "String"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/legal/check-agreements:
    get:
      tags:
      - "Legal"
      summary: "Checks if user needs to agree to current legal documents"
      operationId: "Legal_CheckAgreements"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "mainPk"
        in: "query"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPk"
      - name: "mainTypeFk"
        in: "query"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainTypeFk"
      - name: "country"
        in: "query"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Country"
      - name: "langId"
        in: "query"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "LangId"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "integer"
            format: "int32"
  /api/v1/legal/log-agreements-by-mainpk:
    post:
      tags:
      - "Legal"
      summary: "Logs agreement documents by logged in users mainPk"
      description: "\"from\" is the page where the call is coming from\r\n\"purpose\"\
        \ is an optional field for why they are agreeing. Currently only \"wcAgree\"\
        \ does anything different"
      operationId: "Legal_LogAgreedToDocumentsByMainPk"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "from"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "From"
      - name: "purpose"
        in: "query"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Purpose"
      - name: "mainTypeFk"
        in: "query"
        required: false
        type: "integer"
        default: 0
        format: "int32"
        x-exportParamName: "MainTypeFk"
        x-optionalDataType: "Int32"
      - name: "selectedAll"
        in: "query"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "SelectedAll"
        x-optionalDataType: "Bool"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/legal/log-agreements-by-guid:
    post:
      tags:
      - "Legal"
      summary: "Logs documents that users have agreed to."
      operationId: "Legal_LogAgreedToDocumentsByGuid"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "Guid"
        in: "query"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "Guid"
      - name: "Usage"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "Usage"
      - name: "SubUsage"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "SubUsage"
        x-optionalDataType: "String"
      - name: "MainTypeFk"
        in: "query"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "MainTypeFk"
        x-optionalDataType: "Int32"
      - name: "selectedAll"
        in: "query"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "SelectedAll"
        x-optionalDataType: "Bool"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/localization/timezones:
    get:
      tags:
      - "Localization"
      operationId: "Localization_GetTimezones"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Localization.Models.TimeZoneViewModel"
  /api/v1/localization/invalidate:
    get:
      tags:
      - "Localization"
      operationId: "Localization_InvalidateLocalization"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/localization/all-countries:
    get:
      tags:
      - "Localization"
      summary: "Get list of all countries"
      operationId: "Localization_GetAllCountries"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Localization.Models.CountrySimpleModel"
  /api/v1/localization/country-groups:
    get:
      tags:
      - "Localization"
      summary: "Get list of country groups"
      operationId: "Localization_GetCountryGroups"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/localization/gateway-address:
    get:
      tags:
      - "Localization"
      operationId: "Localization_GetGatewayAddress"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/localization/streets/{areaId}:
    get:
      tags:
      - "Localization"
      summary: "Turkey where it grabs street values"
      operationId: "Localization_GetStreetsForArea"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "areaId"
        in: "path"
        description: "The initiating CountryAreas"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "AreaId"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/localization/billing/countries:
    get:
      tags:
      - "Localization"
      summary: "Returns a list of countries to be used with a billing address."
      operationId: "Localization_GetBillingCountries"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Localization.Models.BillingCountriesViewModel"
  /api/v1/localization/eu-gateway-countries:
    get:
      tags:
      - "Localization"
      operationId: "Localization_GetEuGatewayCountries"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/localization/countries/{countryCode}:
    get:
      tags:
      - "Localization"
      summary: "Returns a list of regions for a specified country."
      operationId: "Localization_GetRegions"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "countryCode"
        in: "path"
        description: "Two Letter ISO Country code. Example: US for United States"
        required: true
        type: "string"
        x-exportParamName: "CountryCode"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/localization/comuna/{stateOrProvince}:
    get:
      tags:
      - "Localization"
      summary: "Get List of Comuna Codes"
      operationId: "Localization_ComunaCheck"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "stateOrProvince"
        in: "path"
        description: "State or Porvince for searching"
        required: true
        type: "string"
        x-exportParamName: "StateOrProvince"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/localization/min-age:
    get:
      tags:
      - "Localization"
      operationId: "Localization_GetMinEnrollmentAge"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "country"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "Country"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "integer"
            format: "int32"
  /api/v1/localization/areas/{cityId}/{countryCode}:
    get:
      tags:
      - "Localization"
      summary: ""
      operationId: "Localization_GetAreasForCity"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "cityId"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "CityId"
      - name: "countryCode"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "CountryCode"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/localization/cities/{countryCode}/{isoCode}:
    get:
      tags:
      - "Localization"
      summary: ""
      operationId: "Localization_GetCitiesForCountry"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "countryCode"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "CountryCode"
      - name: "isoCode"
        in: "path"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "IsoCode"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/localization/shipping/countries/{countryCode}:
    get:
      tags:
      - "Localization"
      summary: "Based on the country requesting, will provide a listing of available\
        \ countries that can be shipped to"
      operationId: "Localization_GetShippingCountries"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "countryCode"
        in: "path"
        description: "The initiating country"
        required: true
        type: "string"
        x-exportParamName: "CountryCode"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/localization/jp-address-lookup:
    get:
      tags:
      - "Localization"
      summary: "Looks for adress suggestions for JP based on provide postal code value"
      operationId: "Localization_LookupJPAddressByPostalCode"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "postalCode"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "PostalCode"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Localization.Models.JPAddressLookupViewModel"
  /api/v1/localization/get-country-zip-formats:
    get:
      tags:
      - "Localization"
      operationId: "Localization_GetCountryZipFormats"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "cultureCode"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "CultureCode"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/localization/id:
    get:
      tags:
      - "Localization"
      operationId: "Localization_GetIdTypes"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "country"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "Country"
      - name: "langId"
        in: "query"
        required: false
        type: "integer"
        default: 1
        format: "int32"
        x-exportParamName: "LangId"
        x-optionalDataType: "Int32"
      - name: "pageName"
        in: "query"
        required: false
        type: "string"
        default: "addnew"
        x-exportParamName: "PageName"
        x-optionalDataType: "String"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Profile.Core.Localization.Models.IdTypesModel"
  /api/v1/localization/countries:
    get:
      tags:
      - "Localization"
      summary: "Get list of countries"
      operationId: "Localization_GetCountries"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "countryGroups"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "CountryGroups"
        x-optionalDataType: "String"
      - name: "singleCountryCode"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "SingleCountryCode"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/main-extension/it-card:
    get:
      tags:
      - "MainExtension"
      summary: "Get card data for Italy user"
      operationId: "MainExtension_GetItalyCardData"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.MainExtension.Models.MainITExtensionModel"
  /api/v1/users/{MainPK}:
    get:
      tags:
      - "MainUsers"
      summary: "Returns a user by MainPk"
      operationId: "MainUsers_GetUser"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "MainPK"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPK"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.MainUserModel"
  /api/v1/users/award-types:
    get:
      tags:
      - "MainUsers"
      summary: ""
      operationId: "MainUsers_GetAwardsTypes"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Back.Data.Poco.Awards.AwardType"
  /api/v1/users/awards/{MainPK}:
    get:
      tags:
      - "MainUsers"
      summary: ""
      operationId: "MainUsers_GetUserAwards"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "MainPK"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPK"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Back.Data.Poco.Awards.Award"
  /api/v1/users/siteUrl/{SiteUrl}:
    get:
      tags:
      - "MainUsers"
      summary: "Returns a user by siteUrl"
      operationId: "MainUsers_GetUserBySiteUrl"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "SiteUrl"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "SiteUrl"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.MainUserModel"
  /api/v1/users/can-change-sponsor:
    get:
      tags:
      - "MainUsers"
      summary: "Check is user can change his sponsor"
      operationId: "MainUsers_CanUserChangeSponsor"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "boolean"
  /api/v1/users/marketing/{MainPK}:
    get:
      tags:
      - "MainUsers"
      summary: ""
      operationId: "MainUsers_GetUserMarketingInfo"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "MainPK"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPK"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.UserMarketingModel"
  /api/v1/users/signup:
    get:
      tags:
      - "MainUsers"
      summary: "gets a signup user"
      operationId: "MainUsers_GetSignupUser"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "guid"
        in: "query"
        description: ""
        required: false
        type: "string"
        x-exportParamName: "Guid"
        x-optionalDataType: "String"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.SignupUserViewModel"
    post:
      tags:
      - "MainUsers"
      summary: "Creates a new signup user"
      description: "minimum populated fields are country, languageFk, referrerSiteUrl,\
        \ maintypeFk, source, lastUrl"
      operationId: "MainUsers_CreateSignupUser"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.SignupUserFormModel"
        x-exportParamName: "Model"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.SignupUserViewModel"
    put:
      tags:
      - "MainUsers"
      summary: "updates a signup user"
      description: "minimum populated fields are country, languageFk, referrerSiteUrl,\
        \ maintypeFk, source, lastUrl"
      operationId: "MainUsers_UpdateSignupUser"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.SignupUserFormModel"
        x-exportParamName: "Model"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.SignupUserViewModel"
  /api/v1/users/recognition/{MainPK}:
    get:
      tags:
      - "MainUsers"
      summary: ""
      operationId: "MainUsers_GetUserRecognitionInfo"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "MainPK"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPK"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.UserRecognitionModel"
  /api/v1/users/allow-change-username:
    get:
      tags:
      - "MainUsers"
      summary: "Check is user can change username"
      operationId: "MainUsers_AllowUserChangeUsername"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "boolean"
  /api/v1/users/e-signature:
    get:
      tags:
      - "MainUsers"
      summary: "Returns the E-Signature info for the provided user."
      operationId: "MainUsers_GetESignatureInfo"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "mainPK"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPK"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.ESignatureInfoViewModel"
    post:
      tags:
      - "MainUsers"
      summary: "Sets the E-Signature info for a user."
      operationId: "MainUsers_SetESignatureInfo"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.ESignatureInfoPostModel"
        x-exportParamName: "Model"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.ESignatureInfoViewModel"
  /api/v1/users/is-sponsor-valid/{sponsorSiteUrl}:
    get:
      tags:
      - "MainUsers"
      summary: "Check is sponsor is valid for user"
      operationId: "MainUsers_IsNewSponsorValid"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "sponsorSiteUrl"
        in: "path"
        required: true
        type: "string"
        x-exportParamName: "SponsorSiteUrl"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "boolean"
  /api/v1/users/{MainPk}/downline/{DownlineMainPk}:
    get:
      tags:
      - "MainUsers"
      summary: "Checks a user Downline for a specific user"
      operationId: "MainUsers_CheckUserDownline"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "MainPk"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPk"
      - name: "DownlineMainPk"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "DownlineMainPk"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.MainUserDownlineCheckModel"
  /api/v1/users/get-renewal-status-info:
    get:
      tags:
      - "MainUsers"
      summary: "Returns the renewal info of the user."
      operationId: "MainUsers_GetRenewalStatusInfoAsync"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "mainPK"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPK"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.RenewalStatusInfo"
  /api/v1/users/user-highest-rank:
    get:
      tags:
      - "MainUsers"
      summary: "Get User highest rank for talkDesk system"
      operationId: "MainUsers_GetUserHighestRank"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "mainPK"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPK"
        x-optionalDataType: "Int32"
      - name: "key"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Key"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "object"
  /api/v1/users/{MainPk}/enroller-tree/{EnrollerTreeMainPk}:
    get:
      tags:
      - "MainUsers"
      summary: "Checks a user Enroller Tree for a specific user"
      operationId: "MainUsers_CheckUserEnrollerTree"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "MainPk"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPk"
      - name: "EnrollerTreeMainPk"
        in: "path"
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "EnrollerTreeMainPk"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.MainUserEnrollerTreeModel"
  /api/v1/users/customers/sync:
    get:
      tags:
      - "MainUsers"
      summary: "Sync specific user"
      operationId: "MainUsers_SyncCustomers"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "lastSyncedDate"
        in: "query"
        description: ""
        required: false
        type: "string"
        format: "date-time"
        x-exportParamName: "LastSyncedDate"
        x-optionalDataType: "Time"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.SmartMobile.ContactsResponseModel"
  /api/v1/users/referrer:
    get:
      tags:
      - "MainUsers"
      summary: "Anonymous; gets limited referer info"
      operationId: "MainUsers_GetReferrerInfo"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "SiteUrl"
        in: "query"
        description: ""
        required: true
        type: "string"
        x-exportParamName: "SiteUrl"
      - name: "checkFlow"
        in: "query"
        required: false
        type: "boolean"
        default: false
        x-exportParamName: "CheckFlow"
        x-optionalDataType: "Bool"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.SignupUserViewModel"
  /api/v1/users/sponsor-placement:
    get:
      tags:
      - "MainUsers"
      summary: "Returns sponsor placement display text"
      operationId: "MainUsers_GetMainUserSponsorPlacementView"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "mainFK"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MainFK"
        x-optionalDataType: "Int32"
      - name: "languageFk"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "LanguageFk"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.MainUserSponsorPlacementViewModel"
  /api/v1/users/get-redirect-rule:
    get:
      tags:
      - "MainUsers"
      summary: "Returns the redirection rule of the user."
      operationId: "MainUsers_GetRedirectRule"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "mainPK"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPK"
        x-optionalDataType: "Int32"
      - name: "country"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Country"
        x-optionalDataType: "String"
      - name: "sourceURL"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "SourceURL"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.RedirectRule"
  /api/v1/users:
    get:
      tags:
      - "MainUsers"
      summary: "Returns a list of users from the Main Table"
      operationId: "MainUsers_GetUsers"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      - name: "search"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Search"
        x-optionalDataType: "String"
      - name: "exactSearch"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "ExactSearch"
        x-optionalDataType: "Bool"
      - name: "siteUrl"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "SiteUrl"
        x-optionalDataType: "String"
      - name: "mainPK"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPK"
        x-optionalDataType: "Int32"
      - name: "email"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Email"
        x-optionalDataType: "String"
      - name: "firstName"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "FirstName"
        x-optionalDataType: "String"
      - name: "lastName"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "LastName"
        x-optionalDataType: "String"
      - name: "company"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Company"
        x-optionalDataType: "String"
      - name: "phone"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Phone"
        x-optionalDataType: "String"
      - name: "sponsorSiteUrl"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "SponsorSiteUrl"
        x-optionalDataType: "String"
      - name: "orderNumber"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "OrderNumber"
        x-optionalDataType: "Int32"
      - name: "skipCount"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "SkipCount"
        x-optionalDataType: "Bool"
      - name: "mainType"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "MainType"
        x-optionalDataType: "String"
      - name: "orderBy"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "OrderBy"
        x-optionalDataType: "String"
      - name: "offset"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Offset"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        required: false
        type: "integer"
        format: "int32"
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.MainUsersSimpleViewModel"
    put:
      tags:
      - "MainUsers"
      summary: "Updates the profile info for the logged in user."
      operationId: "MainUsers_UpdateProfile"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.Member.Models.MemberFormModel"
        x-exportParamName: "Model"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.MainUserModel"
  /api/v1/users/marketing:
    put:
      tags:
      - "MainUsers"
      summary: "Updates user marketing info"
      operationId: "MainUsers_UpdateMarketingInfo"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.UserMarketingFormModel"
        x-exportParamName: "Model"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.UserMarketingModel"
  /api/v1/users/recognition:
    put:
      tags:
      - "MainUsers"
      summary: "Updates user recognition info"
      operationId: "MainUsers_UpdateUserRecognitionInfo"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.UserRecognitionFormModel"
        x-exportParamName: "Model"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.UserRecognitionFormModel"
  /api/v1/users/update-success-on-demand/{MainPk}/{NewStatus}:
    put:
      tags:
      - "MainUsers"
      summary: "Updates Success on Demand status"
      operationId: "MainUsers_UpdateSoD"
      consumes: []
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - name: "MainPk"
        in: "path"
        description: ""
        required: true
        type: "integer"
        format: "int32"
        x-exportParamName: "MainPk"
      - name: "NewStatus"
        in: "path"
        description: ""
        required: true
        type: "boolean"
        x-exportParamName: "NewStatus"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "boolean"
  /api/v1/users/award:
    post:
      tags:
      - "MainUsers"
      summary: ""
      operationId: "MainUsers_AddUserAward"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "award"
        description: ""
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Back.Data.Poco.Awards.Award"
        x-exportParamName: "Award"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Jeunesse.Back.Data.Poco.Awards.Award"
  /api/v1/users/reset-password:
    post:
      tags:
      - "MainUsers"
      summary: "Resets password for specific user."
      operationId: "MainUsers_ResetPassword"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.ResetPasswordModel"
        x-exportParamName: "Model"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
  /api/v1/users/validate-email:
    post:
      tags:
      - "MainUsers"
      summary: "Validates whether the given email is unique across all member types\
        \ (customers/planners) and listed countries."
      operationId: "MainUsers_ValidateEmail"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "request"
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.EmailValidationQueryModel"
        x-exportParamName: "Request"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "boolean"
  /api/v1/users/remind-username:
    post:
      tags:
      - "MainUsers"
      summary: "Remind username for specific user."
      operationId: "MainUsers_RemindUsername"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.RemindUsernameModel"
        x-exportParamName: "Model"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "string"
  /api/v1/users/update-password:
    post:
      tags:
      - "MainUsers"
      summary: "Reset password by resetcode"
      operationId: "MainUsers_UpdatePassword"
      consumes:
      - "application/json"
      - "text/json"
      - "application/x-www-form-urlencoded"
      produces:
      - "application/json"
      - "text/json"
      parameters:
      - in: "body"
        name: "model"
        required: true
        schema:
          $ref: "#/definitions/Jeunesse.Profile.Core.Users.Models.UpdatePasswordModel"
        x-exportParamName: "Model"
      - name: "api-version"
        in: "query"
        description: "The requested API version"
        required: false
        type: "string"
        default: "1.0"
        x-exportParamName: "ApiVersion"
        x-optionalDataType: "String"
      deprecated: false
      responses:
        "200":
          description: "OK"
          schema:
            type: "boolean"
  /api/v1/users/change-user-sponsor:
    post:
      tags:
      - "MainUsers"
      summary: "Change user sponsor data"
[...]
